body{
    background-color: rgb(40, 48, 48);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    color: rgb(239, 235, 228);
}

h1{
    color: white;
    text-align: center;
}

#secao {
    background-color: rgb(239, 235, 228);
    border-radius: 20px;
    padding: 10px;
    width: 35%;
    margin: auto;
    
}

#secao p{
    text-align: center;
    font-size: 20px;
    
    color: black;
}

#botao{
    background-color: rgb(12, 112, 242);
    color: rgb(239, 235, 228);
    border: 0px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.form{
    margin: 8px;
    justify-content: center;
    height: 20px;
    width: 200px;
    border-radius: 10px;
    border: 0px;
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 600px){
    header img{
        width: 50px;
    }

    h1{
        font-size: 20px;
        text-align: center;
    }
    #secao{
        flex-direction: column;
        width: auto;
    }

    p{
        font-size: 15px;
    }

    .form{
        height: 30px;
    }

}