*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #303030;
    padding: 5px;
    color: #ccc;
    display: grid;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.card{
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}
.inputpd{
    display: grid;
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    border: 0px;
    padding: 10px;
    color: aliceblue;
    background-color: #303030;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    background-color: black;
    transition: all ease 0.3s;
}

.conteudo{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
    border: #ccc;
}

table th{
    background-color: #303030;
    padding: 1px;
    color: aliceblue;
}

table td{
    padding: 1px;
}

table td img{
    width: 25px;
}

footer{
    display: block;
    margin-top: 75px;
    color: #ccc;
    background-color: #303030;
    padding-top: 5px ;
    text-align: center;
    margin-top: 20px;

}

footer a{
    text-decoration: none;
    color: #ccc;
}
footer a:hover{
    text-decoration: underline;
    font-weight: bold;
    transition: all ease 0.3s;
}

@media screen and (max-width: 800px){
    header {
        height: 120px;
    }
    header img {
        width: 80px;
    }

    .card{
        width: 80%;
    }

    .conteudo{
        width: 88%;
    }

    footer{
        margin-top: 20px;
    }

}


